@page
@{
    Layout = "_Layout";
}



<!DOCTYPE html>


<div id="img_load" style="width:100%;text-align:center;">
    <img src="~/images/working.GIF" />
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Database Path<small style="color:red"><span id="lbl_ref_time"></span></small></h2>
                <p style="text-align:right;"> <button id="btn_new" class="btn btn-info"> New</button></p>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </div>
            <div class="container">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="card-box table-responsive">

                                <!-- start project list -->
                                <table id="Table_View" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Action</th>
                                            <th>S#</th>
                                            <th>ID</th>
                                            <th>File Path</th>
                                            <th>Database Table Name</th>
                                            <th>Column ID</th>
                                            <th>Column Time</th>
                                            <th>User Table Name</th>
                                            <th>User ID</th>
                                            <th>User MacID</th>
                                            <th>User Name</th>
                                            <th>Type</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td style="text-align:center;"></th>
                                            <td></td>
                                            <td></td>
                                            <td> </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <label>
                                                    <input id="ck_tblActi" type="checkbox" class="icheck"
                                                        data-checkbox="icheckbox_square-grey">
                                                </label>
                                            </td>
                                    </tbody>
                                </table>
                                <!-- end project list -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- @* Create Modal Start *@ -->

<div id="data_Modal" class="modal fade">
    <div class="modal-dialog modal-lg" style="!important; margin-top:6%; ">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Database Path</h4> 
                <div id="img_load_sav" style="width:100%;text-align:center;">
                    <img src="~/images/working.GIF" />
                </div>
            </div>
            <form id="create_form">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-12" style="text-align:right;">
                            <input id="btn_sav" type="button" value="Save" onclick="savrec();"
                                class="btn btn-success" />
                            <input id="btn_upd" type="button" value="Update" onclick="updrec();"
                                class="btn btn-warning" />
                            <input id="btn_cls" type="button" value="Close" onclick="discon()" class="btn btn-danger"
                                data-dismiss="modal" />
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    ID
                                </label>
                                <div class="col-md-2">
                                    <label class="control-label col-md-4" id="txt_id" style="text-align:left;">
                                    </label>
                                </div>
                                <div class="icheck-inline col-md-6">
                                    <label>
                                        <input id="ck_active" type="checkbox" class="icheck"
                                            data-checkbox="icheckbox_square-grey">Active
                                    </label>
                                </div>


                                <div class="col-md-2"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    File Path
                                </label>
                                <div class="col-md-8">
                                    <input type="text" id="txt_filpth" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-light">Browse</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    Database Table Name
                                </label>
                                <div class="col-md-10">
                                    <select class="form-control" id="select_Database_Table_Name" name="select_Database_Table_Name" >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    Column Name
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="select_Column_Name" name="select_Column_Name" >
                                        <option value=""></option>
                                    </select>
                                </div>
                                <label class="control-label col-md-2" style="text-align:left;">
                                    Column Time
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="select_Column_Time" name="select_Column_Time"  >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    User Table Name
                                </label>
                                <div class="col-md-10">
                                    <select class="form-control" id="select_User_Table_Name" name="select_User_Table_Name" >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    User ID 
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="select_User_ID " name="select_User_ID" >
                                        <option value=""></option>
                                    </select>
                                </div>
                                <label class="control-label col-md-2" style="text-align:left;">
                                    User MACID 	
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control" id="select_User_MACID " name="select_User_MACID" >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">
                                    User Name
                                </label>
                                <div class="col-md-10">
                                    <select class="form-control" id="select_User_Name" name="select_User_Name" >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- @* Create Modal End *@ -->

<script src="~/FunctionJS/Payroll/Setup/DATABASEPATH.js?@Guid.NewGuid().ToString("n")"></script>
