@page
@{
    Layout = "_Layout_Report";
}
<!DOCTYPE html>
<div id="img_load" style="width:100%;text-align:center;">
    <img src="~/images/working.GIF" />
</div>

    <div class="container">
        <div class="x_content">
            <div class="col-md-12 col-xs-12">
                <div class="card-box table-responsive">
                    <div class="col-md-3 col-xs-3">
                        <label><a href="" id="btnPrint"> <span class="glyphicon glyphicon-print"></span></a></label>
                        <label><a href="" id="btnExport"> <span class="glyphicon glyphicon-share"></span></a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Print_Div" class="container">
        <div class="x_content">
            <div class="col-md-12 col-xs-12">

                <div class="card-box table-responsive">
                    <!-- start project list -->
                    <div id="div_timesheetworker">
                        
                    </div>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>

<script src="~/FunctionJS/Payroll/Report/OverTime.js?@Guid.NewGuid().ToString("n")"></script>