@page
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<div id="img_load" style="width:100%;text-align:center;">
    <img src="~/images/working.GIF" />
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Users<small style="color:red"><span id="lbl_ref_time"></span></small></h2>
                <p style="text-align:right;">
                    <button id="btn_new" class="btn btn-info"> New</button>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="container">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="card-box table-responsive">

                                <!-- start project list -->
                                <table id="Table_View" class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Action</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Email</th>
                                            <th>Employee</th>
                                            <th>Role</th>
                                            <th>Item Category</th>
                                            <th>BranchName</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                                <!-- end project list -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*Change Password Start*@

<div id="data_Modal_pwd" class="modal fade">
    <div class="modal-dialog modal-lg" style="width:900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>New User</h4>
                <div id="img_load_pwd" style="width:100%;text-align:center;">
                    <img src="~/images/working.GIF" />
                </div>
            </div>
            <form id="change_form_password">
                @*Master*@
                <div class="form-horizontal">
                    <div class="col-md-12" style="text-align:right;">
                        <input id="btn_pwd" type="button" value="Change Password" onclick="changepassword()"
                            class="btn btn-success" />
                        <input id="btn_cls_pwd" type="button" value="Close" onclick="discon_pwd()"
                            class="btn btn-danger" data-dismiss="modal" />
                    </div>
                    <div class="form-group">
                        <label id="txt_id_pwd" class="control-label col-md-2" style="text-align:left;" hidden>
                            ID
                        </label>
                        <label class="control-label col-md-2" style="text-align:left;">
                            Name
                        </label>
                        <label class="col-md-10" id="txt_nam_pwd" class="form-control"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Password
                        </label>
                        <div class="col-md-4 ">
                            <input type="password" id="txt_pwd" class="form-control" placeholder="Password" />
                        </div>
                        <label class="control-label col-md-2" style="text-align:left;">
                            Confirm Password
                        </label>
                        <div class="col-md-4">
                            <input type="password" id="txt_con_pwd" placeholder="Confirm Password"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
@*Change Password End*@

@* Create Modal Start *@
<div id="data_Modal" class="modal fade">
    <div class="modal-dialog modal-lg" style="width:900px !important;  margin-top:6%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>New User</h4>
                <div id="img_load_sav" style="width:100%;text-align:center;">
                    <img src="~/images/working.GIF" />
                </div>
            </div>
            <form id="create_form">
                @*Master*@
                <div class="form-horizontal">
                    <div class="col-md-12" style="text-align:right;">

                        <input id="btn_sav" type="button" value="Save" onclick="savrec()" class="btn btn-success" />
                        <input id="btn_upd" type="button" value="Update" onclick="updrec()" class="btn btn-warning" />
                        <input id="btn_cls" type="button" value="Close" onclick="discon()" class="btn btn-danger"
                            data-dismiss="modal" />
                        <div class="icheck-inline col-md-10" style="text-align:right;">
                            <label class="control-label" id="txt_id" style="text-align:left;display: none;">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Active
                        </label>
                        <div class="col-md-2">
                            <select id="ddl_active">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2" style="text-align:left;">
                            All Branches
                        </label>
                        <div class="col-md-2">
                            <select id="ddl_allbranch">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Required Attandance
                        </label>
                        <div class="col-md-2">
                            <select id="ddl_attendancerequired">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <label class="control-label col-md-2" style="text-align:left;">
                            Online Attandance
                        </label>
                        <div class="col-md-2">
                            <select id="ddl_attendanceonline">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <label class="control-label col-md-2" style="text-align:left;">
                            BackLog
                        </label>
                        <div class="col-md-2">
                            <input type="number" id="txt_bcklog" class="form-control" value="0" min="0" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            First Name
                        </label>
                        <div class="col-md-10">
                            <input type="text" id="txt_fnam" class="form-control" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Last Name
                        </label>
                        <div class="col-md-10">
                            <input type="text" id="txt_lnam" class="form-control" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Employee
                        </label>
                        <div class="col-md-10">
                            <input type="text" id="txt_Emp" class="form-control" />
                        </div>
                    </div>
                    <div id="div_pwd" class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Password
                        </label>
                        <div class="col-md-4 ">
                            <input type="password" id="txt_pass" class="form-control" placeholder="Password" />
                        </div>
                        <label class="control-label col-md-2" style="text-align:left;">
                            Confirm Password
                        </label>
                        <div class="col-md-4">
                            <input type="password" id="txt_con_pass" placeholder="Confirm Password"
                                class="form-control" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">
                            Email
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="txt_email" placeholder="Email Address" class="form-control" />
                        </div>
                        <label class="control-label col-md-2" style="text-align:left;">
                            Branch
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="txt_branch" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label col-md-2" style="text-align:left;">
                                Phone
                            </label>
                            <div class="col-md-10 ">
                                <input type="text" id="txt_pho" class="form-control" placeholder="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" style="text-align:left;">
                                Role
                            </label>
                            <div class="col-md-3">
                                <input type="text" id="txt_rol" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnAddRole" class="btn btn-dark">Add </button>
                            </div>

                            <label class="control-label col-md-2" style="text-align:left;">
                                Item Category
                            </label>
                            <div class="col-md-3">
                                <input type="text" id="txt_itm" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="btnaddCategory" class="btn btn-dark">Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col col-md-2"></div>
                                <div class="col col-md-4">
                                    <table class="table table-striped" id="RoleSelectTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col col-md-2"></div>
                                <div class="col col-md-4">
                                    <table class="table table-striped" id="ItemsCategorySelectTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Item Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        @* <div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            <table id="RoleSelectTable" class="table table-striped table-bordered container"
                            cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                            <th></th>
                            <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </div>
                            </div> *@
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
@* Create Modal End *@
<script src="~/FunctionJS/Configuration/Setup/NewUser.js?@Guid.NewGuid().ToString("n")"></script>