@page
@{
    Layout = "_Layout";
}

<html lang="en">
<head>
</head>

<body class="login">
    <div style="width: 100%;">
        @* <p style="text-align: center; text-decoration: blink; color: white; font-size:30px;
            font-family: Sans-Serif; font-weight:bold; font-style:normal; ">
            ERP SOLUTION
        </p>
        <p style="text-align: center; text-decoration: blink; color: white; font-size:20px;
            font-family: Sans-Serif; font-weight:bold; font-style:normal; ">
            M M C
        </p> *@
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper" style="text-align: center;">
            <a href="#" class="site_title">
                <img src="~/images/companylogo.png" style="width: 100px; height:auto;">
            </a>
        </div>
    </div>

</body>

</html>
